.bk{
	width: 100%;
	min-height: 1000px;
	margin-bottom: 20px;
	border-radius: 5px;
	border:1px solid #e6e6e6;
	background: #ffffff;
}
.bk-a{
	width: 460px;
	height: 230px;
	line-height: 230px;
	border-radius: 7px;
	float: left;
	margin: 20px 0 0px 25px;
}
.bk h1{
	margin: auto;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
}
.mk{
	width: 292px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	margin: 20px 10px 0 25px;
	float: left;
	border:1px solid #e6e6e6;
}
.mk a{
	font-size: 25px;
}
.mk a:hover{
	color: #ff7353;
}
.mk:hover{
	-webkit-transform: scale(1.05);
    transform: scale(1.05);
    -moz-box-shadow:4px 4px 20px #333333;
    -webkit-box-shadow:4px 4px 20px #333333;
    box-shadow:4px 4px 20px #333333;
}